<a href="https://colab.research.google.com/github/ogut77/BA/blob/main/Homework2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
!pip install pandasql
import pandas as pd
import pandasql as psql
Customer=pd.read_excel("https://github.com/ogut77/BA/blob/main/Customer.xlsx?raw=true")
Employee=pd.read_excel("https://github.com/ogut77/BA/blob/main/Employee.xlsx?raw=true")
Employee_1=pd.read_excel("https://github.com/ogut77/BA/blob/main/Employee.xlsx?raw=true")
Product=pd.read_excel("https://github.com/ogut77/BA/blob/main/Product.xlsx?raw=true")
OrdLine=pd.read_excel("https://github.com/ogut77/BA/blob/main/OrdLine.xlsx?raw=true")
OrderTbl=pd.read_excel("https://github.com/ogut77/BA/blob/main/OrderTbl.xlsx?raw=true")

In [ ]:
#1-List Employee first name and last name from Employee Table
txt='''
Select *
From Employee
'''
Q1 =  psql.sqldf(txt)
Q1

In [ ]:
#2-List Customer first name and last name from Customer Table where Customer city is Seattle and  or 
#Customer State is 'CO'
txt='''
Select *
From Customer
'''
Q2 =  psql.sqldf(txt)
Q2

In [ ]:
#3-How many Customer are there in Customer Table where Customer Balance is 0.
txt='''
Select *
From Customer
'''
Q3 =  psql.sqldf(txt)
Q3

In [ ]:
#4-How many different product are there in each orders ?
txt='''
Select *
From Customer
'''
Q4 =  psql.sqldf(txt)
Q4

In [ ]:
#4-How many different product item  in each order?.
txt='''
Select *
From Customer
'''
Q4 =  psql.sqldf(txt)
Q4

In [ ]:
#5-What is the minimum, maximum and average order for each product?
txt='''
Select *
From Customer
'''
Q5 =  psql.sqldf(txt)
Q5

In [ ]:
#6-List orderno who have more than 1 product item
txt='''
Select *
From Customer
'''
Q6 =  psql.sqldf(txt)
Q6

In [ ]:
#7-List orderno who have more than 1 product item
txt='''
Select *
From Customer
'''
Q7 =  psql.sqldf(txt)
Q7

In [ ]:
#8-How many orders are given in January?
txt='''
Select *
From Customer
'''
Q8 =  psql.sqldf(txt)
Q8

In [ ]:
#9-How many orders are given each month?
txt='''
Select *
From Customer
'''
Q9 =  psql.sqldf(txt)
Q9

In [ ]:
9. List the order number, order date, and customer number of orders placed after
January 23, 2017, shipped to Washington recipients.
txt='''
Select *
From OrderTbl,Employee
Where OrderTbl.CustNo=Customer.CustNo
'''
Q9=  psql.sqldf(txt)
Q9

In [ ]:
11. List the order number, order date, customer number, and customer name (first
and last) of orders placed in January 2017 sent to Colorado recipients.

In [ ]:
20. List the average balance and number of customers by city. Only include
customers residing in Washington State (WA).

In [ ]:
20. List the average balance and number of customers by city. Only include
customers residing in Washington State (WA). Eliminate cities in the result with
less than two customers.